{% set favorite_form = (app.user is not null and user.id in app.user.favorites) ? 'user/favorites/_delete_form.html.twig' : 'user/favorites/_form.html.twig' %}
{% set friend_form = (app.user is not null and user.id in app.user.friends) ? 'user/friends/_delete_form.html.twig' : 'user/friends/_form.html.twig' %}

{% if app.user %}
<div class="card-footer d-flex justify-content-start">
    <a class="btn btn-link btn-sm" role="button" href="{{ path('user_edit', {'id': user.id}) }}">
        <i class="far fa-edit"></i> {% trans %}user.edit{% endtrans %}
    </a>

    {% if app.user is not null %}
        {% if app.user.id != user.id %}
            {{ include(favorite_form) }}
            {{ include(friend_form) }}
        {% endif %}
    {% endif %}
</div>
{% endif %}