<form method="post" action="{{ path('user_favorite_new', {'favorite': user.id}) }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('add_favorite' ~ user.id) }}">
    <button class="btn btn-link btn-sm"><i class="far fa-star"></i> {% trans %}add.to.favorites{% endtrans %}</button>
</form>