{% set avatar = (user.avatar is not null) ? user.avatar : 'no_image' %}
{% set current_timestamp = date().timestamp %}
{% set time_logged = current_timestamp - user.lastLogin %}

{% if user.lastLogin %}
    {% if time_logged <= app.session.metadataBag.getLifetime %}
        <span class="dot green position-absolute"></span>
    {% else %}
        <span class="dot grey position-absolute"></span>
    {% endif %}
{% endif %}

{% if avatar %}
<a href="{{ path('user_show', {'id': user.id}) }}">
    <img class="card-img-top" src="{{ asset('media/image/' ~ avatar ~ '.jpg')|imagine_filter('squared_thumbnail_small') }}"
         alt="Card image cap"
         title="{{ user.firstname }} {{ user.lastname }}">
</a>
{% endif %}