<a class="btn btn-link btn-sm text-light"
   title="Make avatar"
   href="{{ path('image_main', {'id': user.id, 'image': key}) }}"><i class="fas fa-portrait"></i></a>

<a class="btn btn-link btn-sm text-light"
   title="Make background"
   href="{{ path('image_background', {'id': user.id, 'image': key}) }}"><i class="fas fa-image"></i></a>

{% include 'user/images/_delete_form.html.twig' %}