<a class="card-header" href="{{ path('user_show', {'id': user.id, 'name': user.firstname|lower ~ '.' ~ user.lastname|lower }) }}">
    <h5 class="card-link">{{ user.firstname }} {{ user.lastname }}</h5>
    {% if user.lastLogin %}
        {% if date('now').diff((date(user.lastLogin))).format('%h') == 0 and
        date('now').diff((date(user.lastLogin))).format('%i') < 10 %}
            <span class="font-italic text-small">online</span>
        {% else %}
            <span class="font-italic text-small">{% trans %}online.at{% endtrans %} {{ user.lastLogin|date("d M H:i") }}</span>
        {% endif %}
    {% endif %}
</a>