<div class="card-footer d-flex justify-content-start">
    {% if app.user.id == user.id %}
        <a class="btn btn-link btn-sm" role="button" href="{{ path('user_edit', {'id': user.id}) }}">
            <i class="far fa-edit"></i> {% trans %}edit{% endtrans %}
        </a>
        {{ include('user/_delete_form.html.twig') }}
    {% else %}
        {% if user.id in app.user.favorites %}
            {{ include('user/favorites/_delete_form.html.twig') }}
        {% else %}
            {{ include('user/favorites/_form.html.twig') }}
        {% endif %}
    {% endif %}
</div>