<form method="get" action="{{ path('post_index') }}" class="form-inline my-2 my-lg-0 position-relative">
    <input class="form-control" type="search" name="search" placeholder="{% trans %}search{% endtrans %}" aria-label="search">
    <button id="search-submit" class="btn text-dark position-absolute" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>