{% extends 'base.html.twig' %}

{% block title %}{% trans %}homepage{% endtrans %}{% endblock %}

{% block body %}

<div class="jumbotron bg-white">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple social network project.</p>
    <hr class="my-4">
    <p>It is coded with Symfony 5 PHP framework and has many useful features. Check this out!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ path('post_index') }}" role="button">{% trans %}check.posts{% endtrans %}</a>
    <a class="btn btn-primary btn-lg" href="{{ path('user_index') }}" role="button">{% trans %}check.users{% endtrans %}</a>
</div>

{% endblock %}