<div class="card-header d-flex justify-content-between align-items-center">
    <a href="{{ path('post_show', {'id': post.id}) }}">
        <h3 class="card-link m-0">{{ post.title }}</h3>
    </a>
    <div class="d-flex align-content-between align-items-center">
        <div class="d-flex flex-column align-items-end">
            {% if post.user.lastLogin %}
                {% if date('now').diff((date(post.user.lastLogin))).format('%h') == 0 and
                date('now').diff((date(post.user.lastLogin))).format('%i') <= app.session.metadataBag.getLifetime %}
                    <span class="dot green rounded-circle position-absolute"></span>
                {% else %}
                    <span class="dot grey rounded-circle position-absolute"></span>
                {% endif %}
            {% endif %}
            {% include 'template-parts/card-subtitle/user/index.html.twig' with {'avatar': post.user.avatar, 'images': post.user.images, 'id': post.user.id} %}

            <span class="card-subtitle mt-auto">{{ post.user.firstname }} {{ post.user.lastname }}</span>
        </div>
    </div>
</div>