// customize some Bootstrap variables
$primary: darken(#428bca, 25%);

footer {
  background-color: #eae9e9;
}

a,
button {
  text-decoration: none!important;
}

.dot {
  height: 15px;
  width: 15px;
  display: inline-block;
  z-index: 1;
}

.dot.green {
  background-color: green;
}

.dot.grey {
  background-color: #bbb;
}

#search-submit {
  right: 0px;
}

.pagination .active > a {
  color: #fff;
  background-color: $primary;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~lightbox2/dist/css/lightbox.min.css";