// customize some Bootstrap variables
$primary: darken(#428bca, 30%);

footer {
  background-color: #eae9e9;
}

a,
button {
  text-decoration: none!important;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
  background-color: green;
}

.dot.grey {
  background-color: #bbb;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";