// customize some Bootstrap variables
$primary: darken(#428bca, 30%);
$green: #00ff00;

footer {
  background-color: #eae9e9;
}

a,
button {
  text-decoration: none!important;
}

@keyframes example {
  from {background-color: $green;}
  to {background-color: #00cc00;}
}

.dot {
  height: 15px;
  width: 15px;
  display: inline-block;
  z-index: 1;
}

.dot.green {
  background-color: $green;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot.grey {
  background-color: #bbb;
}

#search-submit,
#image-control {
  right: 0px;
}

.pagination .active > a {
  color: #fff;
  background-color: $primary;
}

#user-avatar {
  left: 0px;
  bottom: 0px;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";