<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item">
            <a href="{{ path('post_index') }}"><i class="fas fa-caret-left mx-2"></i>{% trans %}all.posts{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}new.post{% endtrans %}</li>
    </ol>
</nav>