<form method="post" action="{{ path('user_friend_new', {'friend': user.id}) }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('add_friend' ~ user.id) }}">
    <button class="btn btn-success">{% trans %}accept{% endtrans %}</button>
    <button class="btn btn-dark">{% trans %}decline{% endtrans %}</button>
</form>