<form method="post" action="{{ path('user_friend_request', {'friend': user.id}) }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('add_friend_request' ~ user.id) }}">
    {% if app.user.id in user.friendRequests %}
        <button class="btn btn-link btn-sm" disabled="true"><i class="fas fa-user-check"></i> {% trans %}request.sent{% endtrans %}</button>
    {% else %}
        <button class="btn btn-link btn-sm"><i class="fas fa-user-plus"></i> {% trans %}add.to.friends{% endtrans %}</button>
    {% endif %}
</form>