<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
                </div>
                {% elseif app.request.attributes.get('_route') != 'app_login' %}
                    <a href="{{ path('app_login') }}">{% trans %}login{% endtrans %}</a>
                    <a href="{{ path('app_register') }}">{% trans %}register{% endtrans %}</a>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
