{% extends 'base.html.twig' %}

{% block title %}{% trans %}new.post{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}create.new.post{% endtrans %}</h1>
    <hr class="my-4">
    {% include 'template-parts/breadcrumb/post/new.html.twig' %}
    {% include 'template-parts/alert/post/show.html.twig' %}
    {% include 'post/_form.html.twig' %}
{% endblock %}
