<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{{ path('user_index') }}"><i class="fas fa-caret-left mx-2"></i>{% trans %}all.users{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.firstname }} {{ user.lastname }}</li>
    </ol>
</nav>