{% extends 'base.html.twig' %}

{% block title %}{% trans %}page.not.found{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}page.not.found{% endtrans %}</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}